body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    position: relative;
    min-height: 100vh;
}

.calculator {
    background-color:  yellow;
    height: 250px;
    width: 200px;
}

.footer {
    color: yellow;
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem
}